**/.env
**/.ev
*.joblib
*.h5
**/.ipynb_checkpoints
ex/**/*.avi
ex/**/*.wav
demo/vids/**
!ex/beatmaps
songs2/**
beatNet/**
beatmaps/**
directionalCNN/dsOsu/**
directionalCNN/annoOsu/**
directionalCNN/directional_cnn
directionalCNN/giantsteps-tempo-dataset
osuAi/wav/**
osuAi/vid/**
osuAi/tmp/**
osuAi/datasets/**
osuAi/models/**
